@model IEnumerable<Fleetmanager.Models.VehicleGroup_T>
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <button class="btn btn-primary pull-right" data-toggle="modal" href="#VehicleGroupModal"><i class="icofont icofont-ui-add"></i>Add Vehicle Group</button>
                            <h4 class="page-title">Vehicle Group</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <table class="table">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VehicleGroup)
                                            </td>
                                            <td>
                                                <a onclick="openrow(@item.VehicleGroupID)" style="cursor:pointer" class="pcoded-badge label label-warning"><i class="fa fa-pencil"></i> Edit</a>
                                            </td>
                                        </tr>
                                        using (Html.BeginForm("Edit", "VehicleGroup"))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                            <tr id="edit-@item.VehicleGroupID" class="editrow">
                                                <td>
                                                    <input class="form-control cke_required" type="text" name="VehicleGroup" value="@item.VehicleGroup" required />
                                                    <input type="hidden" name="VehicleGroupID" value="@item.VehicleGroupID" />

                                                </td>
                                                <td>
                                                    <button class="pcoded-badge label label-success"><i class="fa fa-check"></i> Update</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () { $(".editrow").hide(); });
    function openrow(row) { $("#edit-" + row).show(2000); }
</script>

<div class="modal fade modal-dialog-center" id="VehicleGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Vehicle Group</h4>
                </div>
                @using (Html.BeginForm("Create", "VehicleGroup"))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-horizontal col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    Vehicle Group<br />
                                    <input type="text" class="form-control" name="VehicleGroup" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-md-10">
                                    <input type="submit" value="Create" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br style="clear:both" />
                            <div class="modal-footer">
                            </div>
                }
            </div>
        </div>
    </div>
</div>



<script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/assets/js/modernizr.min.js")"></script>
<script src="@Url.Content("~/assets/js/detect.js")"></script>
<script src="@Url.Content("~/assets/js/fastclick.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.slimscroll.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.blockUI.js")"></script>
<script src="@Url.Content("~/assets/js/waves.js")"></script>
<script src="@Url.Content("~/assets/js/wow.min.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.nicescroll.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.scrollTo.min.js")"></script>
<script src="@Url.Content("~/assets/js/app.js")"></script>
