@model Fleetmanager.Models.Vehicle_T
<script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
<link href="@Url.Content("~/assets/plugins/datatables/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatables/buttons.bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatables/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <button class="btn btn-primary pull-right" data-toggle="modal" href="#VehicleModal"><i class="icofont icofont-ui-add"></i>Add Vehicle</button>
                            <h4 class="page-title">Vehicles</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">


                                <table id="datatable-buttons" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th title="Field #1">
                                                Vehicle Name
                                            </th>
                                            <th title="Group / Type">Group</th>
                                            <th>Type</th>
                                            <th title="Field #4">
                                                Registration No
                                            </th>
                                            <th title="Field #5">
                                                Brand
                                            </th>
                                            <th>Modify</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var veh in ViewBag.Vehicles)
                                        {
                                            <tr>
                                                <td>@veh.VehicleNoName</td>
                                                <td>@veh.VehicleGroup</td>
                                                <td>@veh.VehicleType</td>
                                                <td>@veh.RegistrationNo</td>
                                                <td>@veh.Brand</td>
                                                <td>
                                                    <a class="pcoded-badge label label-warning" href="@Url.Content("~/VehicleDetails/"+veh.VehicleID)">Details</a>
                                                    &nbsp;

                                                    <a class="pcoded-badge label label-danger" href="@Url.Content("~/VehicleUserAllocation/" + veh.VehicleID)">Allocate to User</a>

                                            </tr>
                                        }

                                    </tbody>
                                </table>





                            </div>
                        </div>
                    </div>

                </div> <!-- End Row -->




            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->


</div>



<div class="modal fade modal-dialog-center" id="VehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Vehicle</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                @using (Html.BeginForm("Create", "Vehicle"))
                {


                    <div class="form-horizontal col-md-12">

                        <br />

                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Vehicle Group </b><span class="pull-right" style="font-size:9px;">( If not listed below <a data-toggle="modal" href="#VehicleGroupModal">Add Vehicle Group</a> )</span>
                                <br />
                                <select class="form-control" name="VehicleGroupID" id="VehicleGroupID"></select>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Vehicle Type</b><span class="pull-right" style="font-size:9px;">( If not listed below <a data-toggle="modal" href="#VehicleTypeModal">Add Vehicle Type</a> )</span><br />
                                <select class="form-control" name="VehicleTypeID" id="VehicleTypeID"></select>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Auto Brand</b><span class="pull-right" style="font-size:9px;">( If not listed below <a data-toggle="modal" href="#AutoBrandModal">Add Auto Brand</a> )</span><br />
                                <select id="AutoBrandID" class="form-control" name="AutoBrandID"></select>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Registration No</b><br />
                                <input type="text" name="RegistrationNo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Purchase Date</b><br />
                                <input type="date" name="PurchaseDate" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Purchase Amount</b> (@Session["Currency"])<br />
                                <input type="text" name="PurchaseAmount" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Life</b> (months)<br />
                                <input type="number" name="life" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Color</b><br />
                                <input type="text" name="Color" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <b>Service Frequency</b><br />
                                <select name="ServiceFrequency" class="form-control">
                                    <option value="5000">5000</option>
                                    <option value="8000">8000</option>
                                    <option value="10000">10000</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <b>Fuel</b><br />
                                <select name="FuelTypeID" class="form-control">
                                    @foreach (var f in ViewBag.Fuel)
                                    {
                                        <option value="@f.FuelTypeID">@f.FuelType</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <b>GPS URL</b><br />
                                <input type="text" name="GPSURL" class="form-control" />
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="col-md-12">
                                <b>Note</b><br />
                                <textarea name="Note" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <input class="btn btn-danger" type="submit" value="Save" />
                            </div>
                        </div>
                        <br style="clear:both" />
                    </div>
                }

                <br style="clear:both" />
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade modal-dialog-center" id="VehicleGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Vehicle Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                Vehicle Group<br />
                                <input type="text" class="form-control" id="VehicleGroup" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="  col-md-12">
                                <button id="btnVehicleGroup" class="btn btn-danger">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br style="clear:both" />
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-dialog-center" id="VehicleTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Vehicle Type</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                Vehicle Type<br />
                                <input type="text" class="form-control" id="VehicleType" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="btnVehicleType" class="btn btn-danger">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br style="clear:both" />
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-dialog-center" id="AutoBrandModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Auto Brand</h4>
                </div>
                <div class="modal-body col-md-12">
                    <div class="form-horizontal col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                Make<br />
                                <input type="text" class="form-control" id="Make" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                Model<br />
                                <input type="text" class="form-control" id="Model" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                Year of Manufacture<br />
                                <input type="number" class="form-control" id="Year" required />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="btnAutoBrand" class="btn btn-danger">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br style="clear:both" />
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(".editrow").hide();
        getautobrand();
        getvehiclegroup();
        getvehicletype();


        $("#btnVehicleGroup").click(function () {
            $.getJSON('@Url.Content("~/App/AddVehicleGroup/")/' + $("#VehicleGroup").val() + '/?jsoncallback=?', function (data) {
            }).done(function () {
                getvehiclegroup();
                $('#VehicleGroupModal').modal('hide');
            });
        });
        $("#btnVehicleType").click(function () {
            $.getJSON('@Url.Content("~/App/AddVehicleType/")/' + $("#VehicleType").val() + '/?jsoncallback=?', function (data) {
            }).done(function () {
                getvehicletype();
                $('#VehicleTypeModal').modal('hide');
            });
        });

        $("#btnAutoBrand").click(function () {

            $.getJSON('@Url.Content("~/App/AddAutoBrand/")' + $("#Make").val() + '/' + $("#Model").val() + '/' + $("#Year").val() + '/?jsoncallback=?', function (data) {
            }).done(function () {
                getautobrand();
                $('#AutoBrandModal').modal('hide');

            });
        });

    });
        function openrow(row) { $("#edit-" + row).show(2000); }

        function getautobrand() {
            $.getJSON('@Url.Content("~/App/AutoBrand/"+Session["FleetCompanyID"]+"/?jsoncallback=?")', function (data) {
                var content = "";
                $("#AutoBrandID").empty();
                $.each(data, function (key, value) {
                    $("#AutoBrandID").append("<option value='" + data[key].AutoBrandID + "'>" + data[key].Make + "-" + data[key].Model + "-" + data[key].Year + "</option>");
                });
            });
        }

        function getvehiclegroup() {
            $.getJSON('@Url.Content("~/App/VehicleGroup/" + Session["FleetCompanyID"] + "/?jsoncallback=?")', function (data) {
                var content = "";
                $("#VehicleGroupID").empty();
                $.each(data, function (key, value) {
                    $("#VehicleGroupID").append("<option value='" + data[key].VehicleGroupID + "'>" + data[key].VehicleGroup + "</option>");
                });
            });
        }

        function getvehicletype() {
            $.getJSON('@Url.Content("~/App/VehicleType/" + Session["FleetCompanyID"] + "/?jsoncallback=?")', function (data) {
                var content = "";
                $("#VehicleTypeID").empty();
                $.each(data, function (key, value) {
                    $("#VehicleTypeID").append("<option value='" + data[key].VehicleTypeID + "'>" + data[key].VehicleType + "</option>");
                });
            });
        }

</script>



<!-- Datatables-->
<script src="@Url.Content("~/assets/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/dataTables.bootstrap.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/buttons.bootstrap.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/jszip.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/pdfmake.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/vfs_fonts.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatables/buttons.print.min.js")"></script>


<script src="@Url.Content("~/assets/pages/datatables.init.js")"></script>

<script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/assets/js/modernizr.min.js")"></script>
<script src="@Url.Content("~/assets/js/detect.js")"></script>
<script src="@Url.Content("~/assets/js/fastclick.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.slimscroll.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.blockUI.js")"></script>
<script src="@Url.Content("~/assets/js/waves.js")"></script>
<script src="@Url.Content("~/assets/js/wow.min.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.nicescroll.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.scrollTo.min.js")"></script>
<script src="@Url.Content("~/assets/js/app.js")"></script>