@model Fleetmanager.Models.SpareServiceDetails_T

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpareServiceDetails_T</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FleetCompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FleetCompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCardID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCardID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SparePart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SparePart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SparePartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SparePartID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpareServiceDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
